/************** Defaults ********************/

nav,
header,
footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

* {
    box-sizing: border-box;
}


/*############## Nav Bar ############*/
nav {
    width: 100%;
    margin: 0;
}

.topnavbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
    background-color: #000;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

ul.topnavbar li {
    list-style: none;
    display: inline;
}

ul.topnavbar li a {
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
}

ul.topnavbar li.dropdown-icon {
    display: none;
}

ul.topnavbar li a:hover {
    color: #666;
}

/************ Custom Styles ********************/

.leftside-col {
    margin-left: 30%;
}

.rightside-col {
    margin-right: 10%;
}

.myPicture img {
    width: 100%;
    height: 500px;
}

h1.attentionGrabber {
    font-size: 60px;
    font-weight: 500;
    font-family: Georgia, serif;
    letter-spacing: 3px;
}

h2.attentionSubtext {
    font-size: 25px;
    font-family: Georgia, serif;
    font-weight: 100;
    letter-spacing: 6px;
    line-height: 1.2;
    
}

div.myInfo {
    margin-left: 50%;
    width: 100%;
}

div.myInfo p {
    line-height: 1.3;
}

div.myInfo p a {
    color: #000;
    text-decoration: none;
}

div.myInfo p a:hover {
    font-weight: 600;
}

.projectImage {
    position: relative;
    width: 95%;
    margin: 2.5%;
}

.projectImage img {
    display: block;
    width: 100%;
    height: 500px;;
}

.overlaySlideFromTop {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #1370a1;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1370a1;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.projectImage:hover .overlay {
  height: 100%;
}

.projectImage:hover .overlaySlideFromTop {
    bottom: 0;
    height: 100%;
}

.projectImageText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projectImageText p {
    font-size: 60%;
}

ul.skillStack {
    margin-top: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

ul.skillStack li {
    list-style: none;
    text-align: center;
}

ul.skillStack li i {
    font-size: 60px;
}

div.honorableMention {
    font-size: 25px;
    font-family: Georgia, serif;
    font-weight: 100;
    line-height: 1.2;
}

div.honorableMention li {
    list-style: none;
    display: inline;
}

div.honorableMention li a {
    font-size: 15px;
}

footer.foot {
    background-color: #666;
    margin: 0;
    padding-left: 10%;
}

footer.foot h3 {
    font-weight: 200;
    font-size: 15px;
    color: #fff;
    padding-top: 10px;
}

footer.foot h3 a {
    color: #fff;
    text-decoration: none;
    font-family: Georgia, serif;
}

footer.foot ul.myLinks {
    list-style: none;
    margin-left: 150px;
}

footer.foot ul.myLinks li {
    color: #fff;
    padding-top: 0;
    padding-right: 15px;
    float: left;
    font-family: Georgia, serif;
}

footer.foot ul.myLinks li a {
    color: #fff;
    text-decoration: none;
}

footer.foot ul.myLinks li a i {
    font-size: 50px;
}

footer.foot h3 a:hover, footer.foot ul.myLinks li a:hover {
    color: #000;
}


/*####### Mobile ############*/
@media screen and (max-width: 1000px) {
    ul.topnavbar li {
        display: none;
    }
    
    ul.topnavbar li.dropdown-icon {
        display: block;
        float: right;
    }
    
    ul.topnavbar.responsive li.dropdown-icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .topnavbar {
        position: absolute;
    }
    
    ul.topnavbar.responsive {
        position: relative;
    }
    
    ul.topnavbar.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnavbar.responsive li a {
        display: block;
        text-align: left;
        
    }
    
    .col-6, .col-4, .col-7, .col-5, .col-3 {
        width: 100%;
        margin: 0;
    }
    
    div.leftside-col, div.rightside-col {
        margin: 15px;
    }
    
    .myPicture img {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    
    div.myInfo {
        display: block;
        position: relative;
        overflow: hidden;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    
    footer.foot {
        text-align: center;
    }
    
    
}
